*.code-workspace
docker/data

.settings/
*/target/
*/.settings
*/.project
**/.classpath
*/.pom.xml.swp
*/.springBeans
*/.checkstyle
.idea/*
*/.idea/*
!.idea/runConfigurations
!.idea/codeStyles
!.idea/codeStyleSettings.xml
target/
.project
.metadata/
**/node_modules/*
**/.next/*

yarn-error.log
*.iml

.DS_Store
**/.factorypath

.vscode/
coverage/

